<!--  データ新規作成フォーム  -->

<!--  フラッシュメッセージ  -->
<div class="flash">
  <%= flash[:notice] %>
</div>

<h1>New book</h1>

<!--  バリデーションによるエラーメッセージ  -->
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <% @book.errors.fill_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>


<%= form_with model: @book do |f| %>

  <!--  Title  -->
  <p>Title</p>
  <%= f.text_field :title %>
  
  <!--  Body  -->
  <p>Body</p>
  <%= f.text_area :body %>
  
  <!--  送信ボタン  -->
  <%= f.submit 'Create Book' %>
  
  <%= link_to "Edit", edit_book_path(book) %>
  <%= link_to 'Destroy', book_path(book), method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>

<!--  
次回ここからエラー文を読み解く
そもそもデータが不足しているため表示が出来ずエラー
-->